/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
body {
     border: 1px dotted gray;
     padding: 20px;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("http://lorempixel.com/1140/283");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

.container{
     background-image: url('http://1.bp.blogspot.com/-8owS0YXL-U4/Tx-raZqgkmI/AAAAAAAAJzc/Q3PTo7qfiv8/s1600/finalgroovy.jpg');
     background-repeat: no-repeat;
     background-size: cover;
}

img{
     border: 10px solid red;
}

.project p{
     font-variant: small-caps;
     text-align: center;
     font-size: 20px;
}

.jumbotron h1{
     font-family: 'Times New Roman';
     text-align: center;

}

h4{
     font-family: 'Georgia';
     font-size: 24px;
     text-align: center;
}

.jumbotron p{
     font-family: 'Georgia';
     text-align: center;
}